{% extends "base.html" %}

{% block "turinys" %}
Paieška:

<form action="{% url 'song_search' %}">
<!-- naršyklė sugeneruos: -->
<!-- /songs/search?paieska=...&duration=... -->
    <input type="text" name="paieska" placeholder="Paieška">
    <input type="text" name="duration">
    <button type="submit">Ieškoti</button>
</form>

Dainu sarasas:
<ul>
    {% for song in object_list %}
        <li>
            {{ song.title }} {{ song.duration }} -
            {{ song.author.first_name }}
            {{ song.author.last_name }}
        </li>
    {% endfor %}
</ul>

<a href="https://youtube.com">Išorinis linkas</a>
<a href="/songs/list/">Vidinis linkas</a>
<a href="?page=1">Pirmas puslapis</a>
{% if page_obj.paginator.num_pages >= 2 %}
    <a href="?page=2">Antras puslapis</a>
{% endif %}
<!-- Parodo kuriame lape esame -->
Esate {{ page_obj.number }} iš
{{ page_obj.paginator.num_pages }}
<!-- Generuoja nuorodas į praeitus puslapius -->
{% if page_obj.has_previous %}
<!--  Praeito puslapio nuoroda bus tik jei praeitas puslapis egzistuoja -->
    <a href="?page={{ page_obj.previous_page_number }}">Praeitas puslapis</a>
{% endif %}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Sekantis puslapis</a>
{% endif %}

{% for p in page_obj.paginator.page_range %}
    <a href="?page={{ p }}">{{ p }}</a>
{% endfor %}

{% endblock %}